<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./taroStyle.css" rel="stylesheet" />
    <title>旅行先を探す！</title>
</head>

<body>
    <div id="container">
        <div id="app">
            <div class="tab_rect"><span class="tabright_text">候補一覧</span></div>
            <div v-for="(item,i) in selected_list">
                <div
                    :class="{travel_rect : !item.prefectures_button_flg , 'travel_selected' : item.prefectures_button_flg}">
                    <div v-if="!item.prefectures_button_flg" class="element_name" @click="delete_prefectures(i)">
                        {{item.value}}
                    </div>

                    <div v-if="item.prefectures_button_flg" class="element_name" @click="add_prefectures(i)">
                        解除済み
                    </div>
                </div>
            </div>

            <button @click="onClickSession">セッション登録</button>

            <a href="https://nekoy3.net/hackathon_11/index.html"><div class="tabbottom_rect"><span class="tabright_text">ホームへ戻る</span></div></a>
        </div>
    </div>
    <!-- vue.jsのCDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- JSONを扱うためのCDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JSの読み込み -->
    <script src="scripts/Vuejs/resultScript.js"></script>
</body>

</html>