* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

#container {
  width: auto;
  height: 900px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
}

.screen {
  width: auto;
  height: 900px;
  background: rgba(217, 217, 217, 1);
  border: 1px solid #c80707;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag_circle {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 790px;
  border-radius: 50%;
}

.tag_name {
  width: 84px;
  position: absolute;
  top: 860px;
  font-size: 20px;
  text-align: center;
}

#tag_line {
  position: absolute;
  left: 0;
  top: 0;
}

.menu_rect {
  width: 80%;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(200, 7, 7, 1);
  border-radius: 2%;
}

.menu_name {
  width: 100%;
  position: absolute;
  font-size: 32px;
  text-align: center;
  left: 48%;
  transform: translateX(-50%);
}

.menu_text {
  width: 100%;
  position: absolute;
  font-size: 20px;
  text-align: center;
  left: 48%;
  transform: translateX(-50%);
}

.pic {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  width: 100%;
  font-size: 32px;
  text-align: center;
  transform: translateX(-50%);
}

.tab_bg {
  width: 100%;
  height: 59px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}

.tableft_rect {
  width: calc(100/2);
  height: 59px;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  border-radius: 2%;
  background: rgba(218, 183, 183, 1);
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(218, 121, 8, 1);
  overflow: hidden;
}

.tab_text {
  width: 120px;
  position: absolute;
  top: 9px;
  font-size: 32px;
}

.tabright_rect {
  width: calc(100/2); 
  height: 59px;
  background: rgba(0, 0, 0, 0.4);
  /* position: absolute; */
  top: 0px;
  right: 0px;
  border: 1px solid rgba(199, 122, 7, 1);
  overflow: hidden;
}

.home_rect {
  width: 80%;
  height: 75px;
  position: absolute;
  background: rgba(218, 121, 8, 1);
  margin: 0 auto;
  left: 50%;
  top: 768px;
  transform: translateX(-50%);
  border: 1px solid rgba(200, 7, 7, 1);
  border-radius: 2%;
}

.home_text {
  top: 784px;
  width: 100%;
  position: absolute;
  font-size: 32px;
  text-align: center;
  left: 48%;
  transform: translateX(-50%);
}

.element_name {
  width: 325px;
  color: rgba(255, 255, 255, 1);
  /* position: absolute; */
  top: 96px;
  left: 12%;
  font-size: 32px;
  text-align: center;
}

.scroll_bar {
  width: 4px;
  height: 650px;
  background: rgba(11, 1, 1, 1);
  opacity: 1;
  position: absolute;
  top: 84px;
  right: 10px;
  overflow: hidden;
}

.travel_rect {
  width: 80%;
  height: 140px;
  background: rgba(234, 104, 104, 1);
  /* position: absolute; */
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 2%;
}