* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .bg {
    width: 390px;
    height: 848px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .screen {
    width: 388px;
    height: 848px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 1px;
    border: 1px solid rgba(213,104,3,1);
    overflow: hidden;
  }
  .v1_75 {
    width: 405px;
    height: 575px;
    background: url("../images/v1_75.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 83px;
    left: -14px;
    overflow: hidden;
  }
  .area_name_rect {
    width: 96px;
    height: 67px;
    background: rgba(249,236,113,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 39px;
    overflow: hidden;
  }
  .area_input_rect {
    width: 221px;
    height: 67px;
    background: rgba(255,249,107,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 158px;
    overflow: hidden;
  }
  .distance_name_rect {
    width: 98px;
    height: 59px;
    background: rgba(244,99,99,1);
    opacity: 1;
    position: absolute;
    top: 82px;
    left: 37px;
    overflow: hidden;
  }
  .distance_input_rect {
    width: 220px;
    height: 59px;
    background: rgba(241,87,87,1);
    opacity: 1;
    position: absolute;
    top: 82px;
    left: 159px;
    overflow: hidden;
  }
  .money_name_rect {
    width: 98px;
    height: 59px;
    background: rgba(120,247,247,1);
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 37px;
    overflow: hidden;
  }
  .money_input_rect {
    width: 220px;
    height: 59px;
    background: rgba(142,235,241,1);
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 159px;
    overflow: hidden;
  }
  .store_name_rect {
    width: 96px;
    height: 56px;
    background: rgba(153,249,163,1);
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 39px;
    overflow: hidden;
  }
  .store_name_rect2 {
    width: 220px;
    height: 56px;
    background: rgba(171,213,156,1);
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 158px;
    overflow: hidden;
  }
  .check_mark_rect {
    width: 390px;
    height: 74px;
    background: rgba(182,99,99,1);
    opacity: 1;
    position: absolute;
    top: 501px;
    left: 15px;
    border: 1px solid rgba(170,81,0,1);
    overflow: hidden;
  }
  .area_text {
    width: 68px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 47px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .distance_text {
    width: 76px;
    color: rgba(4,0,0,1);
    position: absolute;
    top: 96px;
    left: 47px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .money_text {
    width: 70px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 176px;
    left: 44px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .store_name_text {
    width: 174px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 266px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .Element_rect{
    width: 390px;
    height: 170px;
    background: rgba(248,166,166,1);
    opacity: 1;
    position: absolute;
    top: 332px;
    left: 14px;
    border: 1px solid rgba(213,104,3,1);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .sea{
    width: 130px;
    height: 85px;
    background: url("./images3/v1_93.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 332px;
    left: 135px;
    border: 1px solid rgba(201,96,0,1);
    overflow: hidden;
  }
  .mountain{
    width: 116px;
    height: 69px;
    background: url("./images3/v1_94.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 340px;
    left: 264px;
    overflow: hidden;
  }
  .sea_text {
    width: 97px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 353px;
    left: 151px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .store{
    width: 90px;
    height: 76px;
    background: url("./images3/v1_96.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 338px;
    left: 37px;
    overflow: hidden;
  }
  .store_text {
    width: 131px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 359px;
    left: 16px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .tourist_area {
    width: 91px;
    height: 85px;
    background: url("./images3/v1_98.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 417px;
    left: 39px;
    overflow: hidden;
  }
  .tourist_area_text {
    width: 131px;
    color: rgba(8,0,0,1);
    position: absolute;
    top: 446px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .hot_spring {
    width: 111px;
    height: 83px;
    background: url("./images3/v1_100.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 418px;
    left: 147px;
    overflow: hidden;
  }
  .hot_spring_text {
    width: 89px;
    color: rgba(1,0,0,1);
    position: absolute;
    top: 447px;
    left: 155px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .check_mark_text {
    width: 127px;
    color: rgba(8,0,0,1);
    position: absolute;
    top: 520px;
    left: 141px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .check_mark {
    width: 51px;
    height: 45px;
    background: url("./images3/v1_103.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 515px;
    left: 239px;
    overflow: hidden;
  }
  .mountain_text {
    width: 74px;
    color: rgba(4,1,0,1);
    position: absolute;
    top: 359px;
    left: 297px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v1_105 {
    width: 391px;
    height: 59px;
    background: url("../images/v1_105.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .tableft-rect {
    width: 186px;
    height: 59px;
    background: rgba(218,183,183,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(218,121,8,1);
    overflow: hidden;
  }
  .tab_name {
    width: 166px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 21px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .tabright-rect {
    width: 204px;
    height: 59px;
    background: rgba(0,0,0,0.3700000047683716);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 187px;
    border: 1px solid rgba(199,122,7,1);
    overflow: hidden;
  }
  .clock_text{
    width: 94px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 11px;
    left: 246px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  