<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./taroStyle.css" rel="stylesheet" />
    <title>旅行先を探す！</title>
</head>

<body>
    <div id="container">
        <div id="app">
            <div class="tab_rect"><span class="tabright_text">検索結果</span></div>
            {{}}
            <div class="travel_rect" v-for="(item,i) in prefectures_data">
                <div v-if="item.prefectures_button_flg" class="element_name" @click="add_prefectures(i)">
                    {{item.prefectures_name}}
                </div>

                <div v-if="!item.prefectures_button_flg" class="element_name" @click="add_prefectures()">
                    変更済み
                </div>

            </div>

            <div class="tabbottom_rect"><span class="tabright_text">ホームへ戻る</span></div>
        </div>
    </div>
    <!-- vue.jsのCDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- JSONを扱うためのCDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JSの読み込み -->
    <script src="scripts/Vuejs/resultScript.js"></script>
</body>

</html>